body {
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#begining {
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bigBox {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.class_titel {
    font-size: 30px;
    margin-top: 50px;
}

.border {
    display: flex;
    align-items: center;
}

.border_class {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    padding-left: 7px;
    width: 320px;
    height: 320px;
    background-color: black;
}

.item_class {
    width: 100px;
    height: 100px;
    background-color: wheat;
}

.player {
    display: flex;
    flex-direction: row;
}

.but {
    width: 100px;
    height: 30px;
    margin: 50px;
    background-color: wheat;
}